#!/usr/bin/env bash

# Shortcuts
alias d="cd ${HOME}/Dropbox"
alias dl="cd ${HOME}/Downloads"
alias dt="cd ${HOME}/Desktop"
alias p="cd ${HOME}/Projects"
alias g="git"
alias glall="git log --all --decorate --oneline --graph"
alias ec="emacsclient -c"

# Alias Debian fd exec name fdfind to fd
test -f "$(command -v fdfind)" && alias fd=fdfind

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Update apt, snap and flatpak
alias update='sudo apt update && sudo apt upgrade; sudo snap refresh; flatpak repair && flatpak uninstall --unused && flatpak upgrade'
alias nix-upgrade='nix-channel --update nixpkgs && nix-env --upgrade && nix-store --gc'
alias flatpak-upgrade='flatpak repair && flatpak uninstall --unused && flatpak upgrade'

# URL-encode strings
alias urlencode='python -c "import sys, urllib.parse; print(urllib.parse.quote_plus(sys.argv[1]));"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

alias dkbk="DOCKER_BUILDKIT=1 docker build"
alias dkpss="docker ps --format 'table {{ .ID }}\t{{.Image}}\t{{ .Names }}'"

# Download torrent with aria2c without seeding it
alias aria2c-noseed='aria2c --seed-time=0'

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Reset the terminal
test -f "$(command -v reset)" || alias reset="tput reset"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
#alias path='echo $PATH | tr ":" "\n" | nl'

#
alias disable-ertm="echo 'Y' | sudo tee /sys/module/bluetooth/parameters/disable_ertm"
